/* .home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* full viewport height */
/* background-color: #000000; /* black background */
/* color: #ffffff; /* white text */
/* padding: 2rem;
  text-align: center;
}

.home-container h1 {
  font-size: 4rem; /* roughly same as text-6xl */
/* font-weight: 800; /* bold */
/* margin: 0;
} */
